<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <div class="grid">
        <div class="sidebar">
            <h2>{{ 'Teacher' if user.is_teacher else 'Student' }}</li></h2>
            <ul>
                <li class="sideButton">
                    <i data-feather="home"></i>
                    <a href="{{ url_for('index.root') }}">Home</a>
                </li><hr>
                <li class="sideButton">
                    <i data-feather="book-open"></i>
                    <a href="{{ url_for('index.classes') }}">Classes</a>
                </li><hr>

                <li class="sideButton">
                    <i data-feather="log-out"></i>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </li><hr>
            </ul>
        </div>
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script>feather.replace()</script>
</body>
</html>